@import "mixins";
@import "variables";

*,
*:after,
*:before {
    @include box-sizing($type: inherit);
}

* html {
    font-size: 1em;
    margin: 0;
    padding: 0;
    outline: none;
    @include box-sizing($type: border-box);
}

/*Clearfix*/

*.float-divider {
    clear: both;
    display: block;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
}

.group:after,
.group:before {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.clearfix {
    clear: both;
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
/* end of Clearfix*/

/*images*/

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
}

.post img {
    max-width:100%;
    vertical-align: bottom;
    height: auto;
}
/*end of images*/


/*Global*/

a {
    font-family: ($FontStyleHeader);
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $blackcolor;
    margin: 0;
    padding:0;
    cursor: pointer;
    img {
        border: 0;
        outline: none;
    }
    
    &:link {
        
        color: $blackcolor;

    }

    &:visited {
        
        color: $blackcolor;
    }

    &:focus {
        outline: 1px dotted $blackcolor;
        color: $blackcolor;
    }

    

    &:active {
        background-color: $blackcolor;
        color: $yellowcolor;
    }
   
  }

h1,
h2,
h3,
h4 {
    font-family: $FontStyleHeader;
    padding: 0;
    margin: 0;
    width: 100%;
}
    
hr {
    background-color: $blackcolor;
    height: 1px;
    margin: 0.5em auto;
    width: 80%;
    outline: none;
    border: none;
}

p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: ($FontStyle);
    color: $blackcolor;
  }

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: ($FontStyle);

    li {
      color: $blackcolor;
      list-style-type: none;

      &:before {
        font-style: normal;
        color: $blackcolor;
      }

      a {
        width: auto;
        display: block;

        &:hover {

          font-weight: bold;
        }
      }

    }
  }

li {
    list-style: none;
    margin: 0;
}

figure {
    margin: 0;
    padding: 0;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: $color1;
    padding: 0.2em 0;
}

.sticky {
    font-size: 1em;
}

.screen-reader-text {
    font-size: 0.95em;
    color: $blackcolor;
    line-height: 1.5em;
}

.gallery-caption {
    font-size: 1em;
}

//coookie notice
.cookie-notice-container {
    font-size: 0.9em;
    font-family: ($FontStyle);
}

#cookie-notice .button.wp-default {
    margin: 0;
    height: 100%;
    list-style: none;
    background-color: $blackcolor;
    width: 23.9652349%;
    color: $color2;
    @include Transition(all 0.2s linear 0s, color 0.2s linear 0s);
    letter-spacing: 0.1em;
    border: none;
    font-family: ($FontStyleHeader);
    font-size: 1em;
    border: none;
}

//avatar
.avatar-26 .photo {
    left: 0px;
}

.container {
    width: 38.729257%;
    float: right;
    margin: 0 1% 1% 2%;
}


img.custom-logo {
    vertical-align: top;
}


