
//1920px
@media only screen and (max-width: 120em) {
    #wrapper_container {
		
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//1440px
@media only screen and (max-width: 90em) {

	/*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//1280px
@media only screen and (max-width: 80em) {
	#wrapper_container {
        .dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
    }
								
	
}

//1024px
@media only screen and (max-width: 64em) {
	
	#wrapper_container {
        .dbox {
            margin-bottom: 30px;
            @include Transition( all 0.2s ease-in-out);
            .itemCont {
                overflow: hidden;
                display: inline-block;
                a {
                    display: block;
                    padding-bottom: 5px;
                }
                a:hover {
                    background-color: #00ACE9;
                    color: white;
                }
            }
            .goto {
                display: none;
            }
        }
        .itemInfo {
            display: block;
        }
        .itemInfo p {
            display: none;
        }
        .thumb img {
            text-align: center;
        }
        .loadit {
            text-align: center;
        }
        /* switch mode */
        .dbox-list {
            width: 100%;
            height: auto;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
        .dbox-list>.itemCont>a>.thumb {
            width: 100px;
            float: left;
        }
        .dbox-list>.itemCont>a>.itemInfo {
            float: left;
            margin-left: 30px;
            width: 75%;
        }
        .dbox-list>.itemCont>a>.itemInfo>p {
            display: block;
            color: #777;
        }
        .dbox-list .goto {
            display: block;
            float: right;
        }
        /*end*/
		
	}
}

//980px
@media only screen and (max-width: 61.25em) {
	/*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
	
}

//800px
@media only screen and (max-width: 50em) {
	/*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//768px 
@media only screen and (max-width: 48em) {
	/*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//736
@media only screen and (max-width: 736px) {
	/*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//667px iphone6 landscape
@media only screen and (max-width: 41.6875em) {
    
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//640px
@media only screen and (max-width: 40em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//600px
@media only screen and (max-width: 37.5em) {
	/*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
	
}

//536px
@media only screen and (max-width: 33.5em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//480px
@media only screen and (max-width: 30em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}
/*414px*/
@media only screen and (max-width: 25.875em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

/*375px*/
@media only screen and (max-width: 23.4375em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//360px
@media only screen and (max-width: 22.5em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

//320px
@media only screen and (max-width: 20em) {
    /*Wrapper*/
	#wrapper_container {
		.dbox {
			margin-bottom: 30px;
			@include Transition( all 0.2s ease-in-out);
			.itemCont {
				overflow: hidden;
				display: inline-block;
				a {
					display: block;
					padding-bottom: 5px;
				}
				a:hover {
					background-color: #00ACE9;
					color: white;
				}
			}
			.goto {
				display: none;
			}
		}
		.itemInfo {
			display: block;
		}
		.itemInfo p {
			display: none;
		}
		.thumb img {
			text-align: center;
		}
		.loadit {
			text-align: center;
		}
		/* switch mode */
		.dbox-list {
			width: 100%;
			height: auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		.dbox-list>.itemCont>a>.thumb {
			width: 100px;
			float: left;
		}
		.dbox-list>.itemCont>a>.itemInfo {
			float: left;
			margin-left: 30px;
			width: 75%;
		}
		.dbox-list>.itemCont>a>.itemInfo>p {
			display: block;
			color: #777;
		}
		.dbox-list .goto {
			display: block;
			float: right;
		}
		/*end*/
	}
}

