.item-enter {
    font-size: 60pt;
    transform: rotate(90deg);
  }
  
  .item-enter.item-enter-active {
    opacity: 1;
    font-size: large;
    transform: rotate(0deg);
    transition: opacity 500ms ease-in, font-size 500ms ease-in, transform 500ms ease-in;
  }
  
  .item-leave {
    opacity: 1;
  }
  
  .item-leave.item-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  
  .item {
    margin-top: 5px;
    margin-bottom: 5px;
  }