

// //$redcolor3:#BF0404 ;
// $redcolor:#d91424 ; //bob poster
// $redcolor2:#850000;

// //$greencolor3:#09A603;
// $greencolor:#88a61c; //bob poster
// $greencolor2:#003924;

// //$colorwhite:#F2EBEB;
// $colorwhite:#F2f2f2; //bob poster
// $colorwhite2:#f5f2e4;

// //$blackcolor: #141414;
// $blackcolor: #0d0d0d; //bob poster
// $blackcolor2:#0a0a0a;

// $headercolor: #65686B;

// //$yellowcolor:#F2E205;
// $yellowcolor:#f2ae2e; //bob poster
// $yellowcolor2:#ccb33b;

$color1:#062351;
$color2:#CCD3DE;
$color3:#c0c9dd;
$color4:#fff;

$color5:#6e757f;
//$color6:#9DA3AB;
$color7:#575A5E;
$color8:#000;
$color9:#65686B;
$color11:#bac7db;
$color10:rgba(255, 255, 255, 0.5);

$FontStyle: 'PT Sans', verdana, helvetica, sans-serif ;
$FontStyleHeader: 'Cabin' , Bitstream Vera Sans, verdana, helvetica, sans-serif ;

